* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100vh;
    width: 100vw;
}

#banner {
    height: 200px;
    padding: 20px;
    background-image: url("./images/banner/cinema.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
}

#banner h1{
    color:white;
    font-family: 'Raleway';
    font-style: oblique;
    position: relative;
    text-align: center;
    top: 50px;
}

.autor {
    font-family: Oswald;
    position: relative;
    width: 120px;
    top: -60px;
    left: calc(50% - 70px);
}

.autor img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.nome-autor {
    font-family: Oswald;
    font-size: 18pt;
    font-style: oblique;
    color: #292424;
    text-align: center;
    position: relative;
    top: -50px;
}

#posts {
    width: 66.76%;  
    position: relative;
    left: calc(50% - 33.38%);
    
}

.article {
    font-family: Oswald; 
    color: #292424;
    padding: 25px 15px 10px 15px;
    margin: 20px 10px;
    border:#F6F6F6;
    border-bottom-color: #ffffff;
    border-style: ridge;
    border-radius: 2rem;
    border-width: 3px;
}

.article h1{
    font-size: 24pt;
    padding-bottom: 3.5%;
}

.article h2 {
    font-size: 16pt;
    font-style: oblique;
    padding-bottom: 2.5%;
}

.article p{
    font-family: 'Open Sans';
    text-align: justify;
}

.article img {
    width: 100%;
    height: 500px;
    border-radius: 1.2rem;
    margin-top: 3%;
}